@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* values that all ellements should have*/
*, *::after, *::before{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

/* Font & Background colour */
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #e2e2e2; /* <--- only visible on desktop */
}

/*the full box that displays all content given a background and shadow + display block*/
.content{
	display: block;
	width: 60%;
  box-shadow: 0px 3px 8px #63513c;
  background-color: #e2dacf;
}


/*the header of the page givver a background color, text color some shadows. also changed the position, display and float for beter working with other block'. */
.header{
  width: 100%;
  float: left;
	position: relative;
	display: block;
  width:  100%;
  padding:  10px;
  box-shadow: 0 8px 6px -6px #63513c;
  background-color: #b6a086;
  color: #462A25;
}


/*changed so that the button displays properly*/
.header > *{
  float: left;
  width: 100%;
}

/*changed so that the button displays properly*/
.header > div >  *{
  float: left;
}

/*changed so that the button displays properly next to it*/
#name{
    width: 90%;
}

/*styling for the button and setup for the transform*/
#source{
  float: right;
  width: 10%;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8B351B;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px #666;
  text-decoration: none;
}

/*the transform of the button*/
#source:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/*the imaged styled so that it will have a fixed height and width and displays properly*/
#image{
	width: 100%;
	height: 300px;
	object-fit: cover;
	display: block;
}


/*styling for the whole recipe & ingredients tab starting with the header*/
.tabs{
	position: relative;
	width: 100%;


}

/*the header of the recipe & ingredients tab*/
.tab-header{
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
	background-color: #b6a086;
  color: #462A25;
  box-shadow: 0 8px 6px -6px #63513c;
}


/* styling for the header buttons */
.tab-header > div{
	width:calc(100% / 2);
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
}

/*makes the text of the active item white*/
.tab-header > .active{
	color: white;
}


/*styling for the content*/
.tab-body{
	position: relative;
	display: block;
	padding: 10px;
}

/*this is used to make table float left*/
#tab-content > table{
  display: block;
}

/*this is used to have some space between an ingredient and its measure*/
td{
	padding-right: 20px;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*`this is used to give the idea the content stretches to teh bottom*/
    body{
      background-color:  #e2dacf;
    }

    /*make all content the fill width of the phone*/
    .content{
      width: 100%;
      bottom: 0;
      font-size: 20px;
      box-shadow: none;
    }

    /*used to make the text readable on phone*/
    .header{
      padding: 20px;
      font-size: 35px;
      width: 100%;
    }

    /*makes the name smaller and makes it posible to make the button bigger */
    #name{
      width: 70%;
    }

    /*makes the button wider*/
    #source{
      width: 30%;
    }

    /*makes the image a little higher on */
    #image{
      height: 500px;
    }
    
    /*makes the header text more readable on mobile */
    .tab-header > *{
      font-size: 45px;
    }

    /*makes the header text more readable on mobile */
    #tab-content{
     padding: 20px;
    }

    /*makes the header text more readable on mobile */
    #tab-content > table{
      display: block;
     font-size: 40px;
     padding: 10px;
     
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    /*`this is used to give the idea the content stretches to teh bottom*/
    body{
      background-color:  #e2dacf;
    }

    /*make all content the fill width of the tablet*/
    .content{
      width: 100%;
      bottom: 0;
      box-shadow: none;
      font-size: 20px;
    }

    /*used to make the text readable on phone*/
    .header{
      padding: 20px;
      box-sizing: border-box;
      width: 100%;
    }

    /*makes the name smaller and makes it posible to make the button bigger */
    #name{
      width: 70%;
    }

    /*makes the button wider*/
    #source{
      width: 30%;
    }

    /* makes the image a little higher on the phone */
    #image{
      height: 500px;
    }

    /*makes the header text more readable on mobile */
    .tab-header > *{
    }

    /*makes the header text more readable on mobile */
    #tab-content{
     padding: 20px;
    }

    /*makes the header text more readable on mobile */
    #tab-content > table{
      display: block;
      padding: 10px;
     
    }

}

